{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title_page}}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>
<body>

{% include 'inc/_nav.html'%}

<div class="container text-right mt-3">
  <div class="row">
      <div class="col-3">
          {% block SIDEBAR %} СПИСОК {% endblock %}
      </div>

      <div class="col-9">
          {% block CONTENT %} КОНТЕНТ {% endblock %}

          {% if page_obj.has_other_pages %}
            <nav aria-label="...">
              <ul class="pagination pagination-lg mt-3">
                  {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">-><span class="sr-only">{{p}}</span></span>
                    </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                    {% endif %}
                  {% endfor %}
              </ul>
            </nav>
          {% endif %}

      </div>
  </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>