{% extends 'base.html' %}

{% block SIDEBAR %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}


{% block CONTENT %}
<div class="media-body">
    <h2 class="md-6">ВЫБРАНА КАТЕГОРИЯ: {{category}}</h2>
    {% for item in news %}
        <h5 class="card-title">{{item.title}}.</h5>
        <p class="card-text">{{item.content|linebreaks|truncatewords:40}}</p>
        <p class="card-footer">{{item.created_at| date:"Y.m.d H:i"}}</p>
        <p class="card-footer">{{item.created_at|timesince}}</p>
        <a href="{{item.get_absolute_url}}" class="btn btn-info">Прочитать статью...</a>
        {% if forloop.counter|divisibleby:"1" %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
